@keyframes scaleUp {
  from {
    transform: scale(1, -1);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.edit-popup {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  min-width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-popup__container {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 600px;
  min-height: 10em;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px 5px rgb(163, 168, 152) inset;
  animation: scaleUp .3s ease-in-out;
}

.edit-popup form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: .5em;
}

.edit-popup label {
  margin: 0 0 0 1em;
}

.edit-popup .edit-popup__submit {
  width: fit-content;
  padding: .3em;
}

.edit-popup .edit-popup__close {
  background-image: url(../../images/close-icon.svg);
  background-size: cover;
  padding: 0;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  box-shadow: 0 0 2px 2px rgb(203, 206, 170) inset;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.edit-popup h3 {
  margin: 0 0 .5em 0;
}

.edit-popup input:invalid {
  color: var(--text-error);
}

.edit-popup__input-text {
  width: 100%;
  padding: .3em;
  border: 1px solid rgb(103, 112, 111)
}